<h1> <%= @cat.name %> </h1>

<ul>
  <li><%=@cat.birth_date%></li>
  <li><%=@cat.sex%></li>
  <li><%=@cat.color%></li>
  <li><%=@cat.description%></li>
</ul>
<%=link_to "edit", edit_cat_url(@cat)%>
<%=link_to "home",cats_url%>
